{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_script_tags('back') }}
{% endblock %}

{% block body %}

    <div class="admin">

        {# Affichage des messages flash #}
        <div class="flash-message toast-container position-absolute top-0 end-0 p-3">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                <div class="toast bg-{{ type }} show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">{{ type }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block content %}{% endblock %}

    </div>


{% endblock %}
