{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_script_tags('back') }}
{% endblock %}

{% block body %}

    <div class="admin">

        {% block content %}{% endblock %}

    </div>


{% endblock %}
