{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_script_tags('front') }}
{% endblock %}

{% block body %}

    <header>
        <div class="display 6"></div>
    </header>

    <div class="user">

        {% block content %}{% endblock %}

    </div>


{% endblock %}